---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Search from "@components/Search";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getCollection } from "astro:content";

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search">
    <Search client:load searchList={searchList} />
  </Main>
  <Footer />
  <script>
    document.addEventListener("keydown", function (e) {
      if (e.altKey || e.ctrlKey) {
        // Check for Cmd key on Mac or Ctrl key on other platforms
        for (let i = 1; i <= 9; i++) {
          if (e.keyCode === 48 + i) {
            // Check for key codes from 1-9
            const links = document.querySelectorAll("a > h2"); // Select all h2 tags inside a tags
            if (links[i - 1]) {
              // Check if the link exists
              window.location.href = links[i - 1].parentElement.href; // Navigate to the link
            }
          }
        }
      }
    });
  </script>
</Layout>
